<div ng-repeat="image in images" style="margin-bottom:10px;background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;">
  <h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
    <div style="margin: 0 auto;padding: 0.4em 0.625em;">
      {{ image.title }}
    </div>
  </h4>
  <div ng-click="openLightboxModal($index)">
    <img  title="{{ image.title }}" ng-src="{{ image.url }}" style="width:100%;height:auto;">
 </div>
</div>

<!--<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;">
  <h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
    <div style="margin: 0 auto;padding: 0.4em 0.625em;">
      1. หน้าล็อกอินเข้าแทงบอล
    </div>
  </h4>
  <div>
    <img class="fancybox" title="หน้าล็อกอินเข้าแทงบอล" src="{{ img_link }}/images/Login-Page-(1).jpg" style="width:100%;height:auto;">
 </div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
 <h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
   <div style="margin: 0 auto;padding: 0.4em 0.625em;">
     2. อธิบายหน้าหลักแทงบอล
   </div>
 </h4>
 <div>
   <img class="fancybox" title="อธิบายหน้าหลักแทงบอล" src="{{ img_link }}/images/Main-Page-(2).jpg" style="width:100%;height:auto;">
</div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
<h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
  <div style="margin: 0 auto;padding: 0.4em 0.625em;">
    3. หน้ารายการโปรด
  </div>
</h4>
<div>
  <img class="fancybox" title="หน้ารายการโปรด" src="{{ img_link }}/images/Favorite-Page-(3).jpg" style="width:100%;height:auto;">
</div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
<h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
 <div style="margin: 0 auto;padding: 0.4em 0.625em;">
   4. อธิบายเมนูเลือกรูปแบบแทงบอล
 </div>
</h4>
<div>
 <img class="fancybox" title="อธิบายเมนูเลือกรูปแบบแทงบอล" src="{{ img_link }}/images/Sports-Menu-(4).jpg" style="width:100%;height:auto;">
</div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
<h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
<div style="margin: 0 auto;padding: 0.4em 0.625em;">
  5. อธิบายหน้าแทงบอล
</div>
</h4>
<div>
<img class="fancybox" title="อธิบายหน้าแทงบอล" src="{{ img_link }}/images/Betting-Page-(5).jpg" style="width:100%;height:auto;">
</div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
<h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
<div style="margin: 0 auto;padding: 0.4em 0.625em;">
 6. การแทงบอลเดี่ยวตัวอย่างที่ 1
</div>
</h4>
<div>
<img class="fancybox" title="การแทงบอลเดี่ยวตัวอย่างที่ 1" src="{{ img_link }}/images/Betting-Ex1-(6).jpg" style="width:100%;height:auto;">
</div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
<h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
<div style="margin: 0 auto;padding: 0.4em 0.625em;">
7. การแทงบอลเดี่ยวตัวอย่างที่ 2
</div>
</h4>
<div>
<img class="fancybox" title="การแทงบอลเดี่ยวตัวอย่างที่ 2" src="{{ img_link }}/images/Betting-Ex2-(7).jpg" style="width:100%;height:auto;">
</div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
<h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
<div style="margin: 0 auto;padding: 0.4em 0.625em;">
 8. รูปแบบการแสดงผลหน้าแทงบอล
</div>
</h4>
<div>
 <img class="fancybox" title="รูปแบบการแสดงผลหน้าแทงบอล" src="{{ img_link }}/images/Line-Patt-Page-(8).jpg" style="width:100%;height:auto;">
</div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
<h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
<div style="margin: 0 auto;padding: 0.4em 0.625em;">
  9. อธิบายการแทงบอลสด
</div>
</h4>
<div>
  <img class="fancybox" title="อธิบายการแทงบอลสด" src="{{ img_link }}/images/Live-Bet1-(9).jpg" style="width:100%;height:auto;">
</div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
<h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
 <div style="margin: 0 auto;padding: 0.4em 0.625em;">
   10. อธิบายการแทงบอลสด
 </div>
</h4>
 <div>
   <img class="fancybox" title="อธิบายการแทงบอลสด" src="{{ img_link }}/images/Live-Bet2-(10).jpg" style="width:100%;height:auto;">
</div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
<h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
  <div style="margin: 0 auto;padding: 0.4em 0.625em;">
    11. อธิบายการแทงบอลสด
  </div>
</h4>
  <div>
    <img class="fancybox" title="อธิบายการแทงบอลสด" src="{{ img_link }}/images/Live-Bet3-(11).jpg" style="width:100%;height:auto;">
 </div>
</div>

<div style="background-color:#f0f0f0;border-top-right-radius:12px;border-top-left-radius:12px;border: 2px solid #4cae4c;margin-top:10px;">
 <h4 class="page-sub-title" style="margin:0px;padding:10px 0 10px 0;border-top-right-radius:10px;border-top-left-radius:10px;">
   <div style="margin: 0 auto;padding: 0.4em 0.625em;">
     12. ตัวอย่างการแทงบอล Step
   </div>
 </h4>
   <div>
     <img class="fancybox" title="ตัวอย่างการแทงบอล Step" src="{{ img_link }}/images/Betting-Parlay-(12).jpg" style="width:100%;height:auto;">
  </div>
</div>-->
