<br>
<br>
<div layout="row" layout-align="center center" layout-wrap>
  <md-button ng-click="openLightboxModal('sportpool')" md-no-ink="true" flex="nogrow" class="md-raised md-primary">
    สปอร์ตพูล
  </md-button>
  <md-button ng-click="openLightboxModal('sportman')" md-no-ink="true" flex="nogrow" class="md-raised md-primary">
    สปอร์ตแมน
  </md-button>
  <md-button ng-click="openLightboxModal('tarad')" md-no-ink="true" flex="nogrow" class="md-raised md-primary">
    ตลาดลูกหนัง
  </md-button>
  <md-button ng-click="openLightboxModal('starsoccer')" md-no-ink="true" flex="nogrow" class="md-raised md-primary">
    สตาร์ซอคเกอร์
  </md-button>
</div>
<br>
<br>
