<img ng-src="{{ template_directory_uri }}/images/withdraw-Step1.png" width="929" height="50" />
<div class="md-padding"></div>
<div layout="row" layout-align="center center">
  <md-radio-group ng-model="step1_option">
    <md-radio-button value="1" class="md-primary"> ฝากเงินสด </md-radio-button>
    <md-radio-button value="2"class="md-primary" > ถอนเครดิตเป็นเงินสด </md-radio-button>
    <md-radio-button value="3" class="md-primary"> ย้านเครดิต </md-radio-button>
  </md-radio-group>
  <div style="margin-left: 40px;">
    <md-button class="md-raised md-primary" ng-click="nextTo()">Next</md-button>
  </div>
<div>
