<div style="padding: 0 0 16px 0;">
  <center>
    <img ng-if="show_money_input" ng-src="{{ template_directory_uri }}/images/deposit_auto_Step3.png" width="929" height="50" />
    <img ng-if="!show_money_input" ng-src="{{ template_directory_uri }}/images/deposit_auto_credit_Step3.png" width="929" height="50" />
  </center>
</div>
<div ng-if="!direct_access" id="form_section" layout="column" layout-align="center center" style="margin-bottom:5%;" >
  <md-input-container ng-if="show_money_input" class="md-block">
    <label style="color:black;width:400px;">กรุณากรอกยอดที่ท่านต้องการเติมเครดิต:</label>
    <input ng-change="cal_credit_money(user.credit_money)" min="1" max="{{ max_money }}" ng-model="user.credit_money" type="number" placeholder="{{ money_placeholder }}" style="width:250px;">
    <span>บาท</span>
  </md-input-container>
  <div style="border-color: #e42112;background-color: #ef473a;color: #fff;margin-bottom:10px;">
    <div class="text-center" style="font-size:16px;padding:16px;">{{ big_bonun_text }}</div>
  </div>
  <div style="margin-bottom:20px;"> {{ small_bonun_text }} </div>
  <md-radio-group ng-change="cal_credit_money(user.credit_money)" ng-model="user.bonus_type" >
    <md-radio-button  value="{{ option_1_value }}" class="md-primary" aria-label="option1">
      {{ bonus_option_1 }}
    </md-radio-button>
    <md-radio-button  value="{{ option_2_value }}" class="md-primary" aria-label="option2">
      {{ bonus_option_2 }}
    </md-radio-button>
  </md-radio-group>

  <code ng-if="show_money_input" style="font-size:130%;">สรุปยอดเครดิตที่คุณจะได้รับหลังดำเนินการโอนเงินแล้วเสร็จคือ {{ user.credit_result }} บาท</code>

  <div  layout-align="center center" style="margin-top:3%;">
    <md-button ng-disabled="invalid_number" class="md-raised md-primary" ng-click="set_account_to_deposit()">ตกลง</md-button>
  </div>
  <center><div ng-show="showLoading">กรุณารอสักครู่ ระบบกำลังดำเนินการ...</div></center>
</div>
