<center>
  <h2 class="page-title" style="margin-top:0px;margin-bottom:0px;">
    <div style="width: 80%;max-width: 24em;margin: 0 auto;padding: 0.25em 0.625em;">ฝาก-ถอน-ย้าย</div>
  </h2>
  <br>
</center>
<center>
  <img ng-if="step1_option == 1" ng-src="{{ template_directory_uri }}/images/deposit_auto_Step1.png" width="929" height="50" />
  <img ng-if="step1_option == 2" ng-src="{{ template_directory_uri }}/images/deposit_cc-Step1.png" width="929" height="50" />
  <img ng-if="step1_option == 3" ng-src="{{ template_directory_uri }}/images/withdraw-Step1.png" width="929" height="50" />
</center>
<div class="md-padding" id="form_section"></div>
<div layout="row" layout-align="center center"  >
  <md-radio-group ng-model="step1_option">
  <div class="alert alert-info" >
    <md-radio-button ng-disabled="dep_auto_status" value="1" class="md-primary"> ฝากเงินสด (แบบอัตโนมัติ ไม่ต้องแจ้งหลังโอนเสร็จ) {{ dep_auto_text }}</md-radio-button>
    <md-radio-button value="2" class="md-primary"> ฝากเงินสด (แบบแจ้ง Call Center หลังโอนเสร็จ) </md-radio-button>
    <md-radio-button value="3"class="md-primary" > ถอนเครดิตเป็นเงินสด </md-radio-button>
    <md-radio-button value="4" class="md-primary"> ย้ายเครดิต </md-radio-button>
	</div>
	  <div class="alert alert-success" >
	<Strong>กรณีท่านสมาชิกเลือกฝากเงินสด แบบแจ้ง Call Center หลังโอนเงินเสร็จ และได้ทำการโอนเงินเรียบร้อยแล้ว</strong>
	<md-radio-button value="5" class="md-primary"> แจ้งโอนเงิน </md-radio-button>
	</div>
  </md-radio-group>

  <!-- <div style="margin-left: 40px;"> -->

</div>
 <div layout="row" layout-align="center center" style="margin-bottom:5%;">
    <md-button class="md-raised md-primary" ng-click="nextTo()">Next</md-button>
  </div>
