<style>
#spanLoding {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: translate(-50%, -50%);
}
.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  /*background-color: white;*/
  z-index: 100;
  /*margin-top: -9em; set to a negative number 1/2 of your height*/
  /*margin-left: -15em; set to a negative number 1/2 of your width*/
  transform: translate(-50%, -50%);
}
</style>
<center id="form_section">
  <img ng-src="{{ template_directory_uri }}/images/withdraw-Step2.png" width="929" height="50" />
</center>
<div class="md-padding"></div>
<div id="di" ng-if="!direct_access" ng-show="user.status_ok" layout="column" layout-align="center center" style="margin-bottom:20px;">

    <md-input-container class="md-block">

        <label style="color:black;">Username:</label>
        <input ng-model="user.username" type="text" placeholder="กรุณาใส่ Username" style="width:300px;" >

    </md-input-container>

  <md-input-container class="md-block">

      <label style="color:black;">เบอร์โทรศัพท์:</label>
      <input ng-model="user.tel" type="text" placeholder="กรุณาใส่เบอร์โทรศัพท์มือถือที่ลงทะเบียนไว้" style="width:300px;">

  </md-input-container>
  <md-button class="md-raised md-primary" ng-click="check_username_tel($event)">ตกลง</md-button>


</div>
<div ng-hide="user.status_ok" style="margin-bottom:16px;">
  <center>
    <img ng-src="{{ alert_img }}" />
  </center>
</div>
<div  ng-show="showSpin" id="spanLoding">
  <md-progress-circular class="loading" md-mode="indeterminate" md-diameter="100"></md-progress-circular>
</div>
